version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/frontend"
    schedule:
      interval: "daily"
    cooldown:
      default-days: 5
  - package-ecosystem: "gomod"
    directory: "/backend"
    schedule:
      interval: "daily"
    cooldown:
      default-days: 5
